$azul: #203748;
$rojo: #F04949;
$rojo_hover: #CB2F2F;
$verde: #39D084;
$gris_claro: #EFEFEF;
$facebook: #5071b3;
$twitter: #328cb3;
$google: #c2554c;
$pinterest: #b83238;
$stumbleupon: #d15536;
$dribbble: #cc5e8c;